FLASK_APP=app
FLASK_PORT=8000
REDIS_URL=redis://db-redis:6379/0
OTEL_EXPORTER_OTLP_ENDPOINT=http://observe-agent:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_NODE_RESOURCE_DETECTORS=env,host,os,serviceinstance
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE=deltaFLASK_APP=app
MYSQL_HOST=db-mysql

# MySQL connection info, should be the same values as in the mysql.env file
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
